.btn-blue{

             background-color: rgb(191, 211, 242);

             padding: 15px 20px;

             border-radius: 4px;

             color: white;

             font-weight: bold;

             font-family: 'Noto Serif Display', sans-serif;

}

 